In [1]:
from electroviz.core.experiment import Experiment

exp = Experiment("E:/RG007/")

Parsing directories...
Loading NIDAQ data...
Loading Imec data...
Loading Kilosort data...

C:\Ryan\GitHub\electroviz\electroviz\streams\spikes.py:109: RuntimeWarning: Mean of empty slice
  cluster_depths.append(np.nanmean(spike_depths[cluster_idx]))

Aligning Syncs...
Done!

In [5]:
exp.nidaq_lf[1].events

,sample_onset,sample_offset,sample_duration,time_onset,time_offset,time_duration,digital_value
0,12778,482783,470006,0.425886,16.090960,15.665074,1
1,482784,482860,77,16.090993,16.093526,0.002533,0
2,482861,484033,1173,16.093559,16.132622,0.039062,1
3,484034,484079,46,16.132655,16.134155,0.001500,0
4,484080,485283,1204,16.134188,16.174284,0.040095,1
...,...,...,...,...,...,...,...
367,726537,729003,2467,24.215181,24.297371,0.082191,0
368,729004,729036,33,24.297405,24.298471,0.001067,1
369,729037,731510,2474,24.298505,24.380929,0.082424,0
370,731511,731536,26,24.380962,24.381795,0.000833,1
371,731537,897736,166200,24.381829,29.921173,5.539345,0

In [4]:
exp.imec_lf[0].events

,sample_onset,sample_offset,sample_duration,time_onset,time_offset,time_duration,digital_value
0,278,1527,1250,0.111199,0.610792,0.499594,1
1,1528,2777,1250,0.611192,1.110786,0.499594,0
2,2778,4027,1250,1.111186,1.610779,0.499594,1
3,4028,5277,1250,1.611179,2.110773,0.499594,0
4,5278,6527,1250,2.111173,2.610767,0.499594,1
...,...,...,...,...,...,...,...
713,891540,892788,1249,356.611439,357.110633,0.499194,0
714,892789,894039,1251,357.111033,357.611026,0.499994,1
715,894040,895289,1250,357.611426,358.111020,0.499594,0
716,895290,896539,1250,358.111420,358.611014,0.499594,1
717,896540,897736,1197,358.611414,359.089807,0.478394,0